#!/bin/bash
# Author: Sung Gong <ssg29@cam.ac.uk>
# First created: 26/Feb/2015
# Last modified: 26/Feb/2015

#####################################################
# GLOBAL
# Variables remain same across multiple bash script
#####################################################
export TOP=$HOME/Pipelines
source $TOP/config/global.config

###
## SLRUM
###
source $TOP/config/slurm.config

###
### Samples & Pairs
#source $HOME/RNA-Seq/config/samples.config # export CASECTR_PAIRS

###
### Run-specific 
###
export IS_PE=0 # paired-end?

export CONTROL=(A002) # for Tov21G
#export CONTROL=(A002 A013) # for Tov21G
#export CONTROL=(A014 A006) # for Jhoc5

###
### which species
###
export SPECIES='Homo_sapiens' # 'Mus_musculus' # 'Homo_sapiens' or 'Mus_musculus' 

######################
## QC/Trim/Mapping  ##
######################
# Below called by template/per.lane.trim.bowtie.sh
export RUN_FASTQC=0 # run fastqc
export RUN_TRIM=0 # run trim_galore
export RUN_BOWTIE=1 # run trim_galore
export RUN_GENOMECOV=1 # run bedtools genomecov
# Below called by template/per.barcode.peak.call.sh
export RUN_MACS_CALLPEAK=1
export RUN_MACS_BDGCMP=1


####################
# TRIM & FILTERING #
####################
# TruSeq HT Sample Kit D701–D712 adapters
# http://supportres.illumina.com/documents/documentation/chemistry_documentation/experiment-design/illumina-customer-sequence-letter.pdf
export TR_ADAPTOR1=GATCGGAAGAGCACACGTCTGAACTCCAGTCAC #len: 33 nt 
# default illumina adapter chosen by trim_galore: AGATCGGAAGAGC # 13 nt 
export TR_LEN=45 # --length (default 20)

##################
# BOWTIE & MACS2 #
##################
if [ -n "$SPECIES" ]; then # if $SPECIES not null
	if [ $SPECIES = 'Homo_sapiens' ]; then
		#export TR_PREFIX=GRCh37 # GRCH37.gff from /scratch/genome/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf ($GTF)
		export TR_PREFIX=hg19
		export MACS_GENOME=hs
	elif [ $SPECIES = 'Mus_musculus' ]; then 
		export TR_PREFIX=GRCm38
		export MACS_GENOME=mm
	else
		echo -e "$SPECIES not supported"
		exit
	fi
else
	echo -e "SPECIES not defined"
	exit
fi

#export BOWTIE_INDEX_BASE=/scratch/genome/$SPECIES/Ensembl/$TR_PREFIX/Sequence/Bowtie2Index/genome
export BOWTIE_INDEX_BASE=/scratch/genome/$SPECIES/UCSC/$TR_PREFIX/Sequence/Bowtie2Index/genome
#export GENOME=/scratch/genome/$SPECIES/Ensembl/$TR_PREFIX/Sequence/WholeGenomeFasta/genome.fa
#export GENOME=/scratch/genome/$SPECIES/UCSC/$TR_PREFIX/Sequence/WholeGenomeFasta/genome.fa

export MACS_SHIFT_SIZE=147 # --extsize (default:200)
export MACS_PVALUE=0.00001
