#!/bin/bash
# Author: Sung Gong <ssg29@cam.ac.uk>
# First created: 22/Jul/2014
# Last modified: 22/Jul/2014
# Optimised and customised to run at the Darwin HPC

# called within config/rna_seq.config or config/methyl_seq.config

###########
## SLRUM ##
###########
#The -n test requires that the string be quoted within the test brackets
SLURM_T=$BIN_TOP/template/slurm_template.v1.sh
if [ ! -f $SLURM_T ];then
	echo "$SLURM_T not found"
	exit
fi

export SLURM_OPT=""
if [ -n "$SL" ]; then # if $SL is not null
	if [ $SL = "SL2" ];then
		export SLURM_ACNT="CHARNOCK-JONES-SL2" # SL2
		export SLURM_TIME="12:00:00"
		#export SLURM_TIME="36:00:00" # (limit for QOS1)
		#export SLURM_OPT="--reservation=charnock-jones"
	elif [ $SL = "SL2-LONG" ];then
		export SLURM_ACNT="CHARNOCK-JONES-SL2" # SL2
		export SLURM_TIME="3-0:0:0"
		export SLURM_OPT="-p long"
	elif [ $SL = "SL3" ];then
		export SLURM_ACNT="CHARNOCK-JONES" # free (SL3)
		export SLURM_TIME="1:00:00" # (user-defined)
		#export SLURM_TIME="12:00:00" # (limit for QOS2)
	elif [ $SL = "SL3-SHORT" ];then
		export SLURM_ACNT="CHARNOCK-JONES" # free (SL3)
		export SLURM_TIME="1:00:00" # (limit for INTR)
		export SLURM_OPT="--qos=INTR"
	elif [ $SL = "BIOCLOUD-NORMAL" ];then
		export SLURM_ACNT="CHARNOCK-JONES-BIOCLOUD" #BIOCLOUD 
		export SLURM_TIME="10:00:00"
		#export SLURM_TIME="36:00:00" # (limit for QOS1)
	else
		echo -e "$SL not supported"
		exit
	fi
fi
export SLURM_NODE_CNT=1
export SLURM_NODE_NT=$NT
export SLURM_MAIL_TYPE="ALL" # "FAIL"

function make_slurm_script(){
    MY_SLURM_SCRIPT=$1 # e.g. $BIN_TOP/slurm/slurm.SLX-8077.A005.C48CWACXX.s_5.sh
    MY_APP=$2 # e.g. SLX-8077.trim.bismark.A005.C48CWACXX.s_6.sh
    MY_STEP=$3 # e.g. 'mapping', 'merging', 'bismark.caller', 'methylextract', 'bissnp', 'coverage'

    MY_BARCODE=$4 # e.g. A005 (optional)
    MY_CELL=$5 # e.g. C48CWACXX (optional)
    MY_LANE=$6 # e.g. s_1  (optional)
    MY_CHUNK=$7 # e.g. 1  (optional)

    cp $SLURM_T $MY_SLURM_SCRIPT # $SLURM_T defined in config/slurm.conf

    sed -i "s/MY_SLX/$SLX/" $MY_SLURM_SCRIPT
    sed -i "s/MY_COHORT/$COHORT/" $MY_SLURM_SCRIPT
    sed -i "s/MY_VERSION/$VERSION/" $MY_SLURM_SCRIPT

    sed -i "s/MY_APP/$MY_APP/" $MY_SLURM_SCRIPT
    sed -i "s/MY_STEP/$MY_STEP/" $MY_SLURM_SCRIPT
	if [ -n "$MY_BARCODE" ];then #string is not null.
    	sed -i "s/MY_BARCODE/$MY_BARCODE/" $MY_SLURM_SCRIPT
	fi
	if [ -n "$MY_CELL" ];then #string is not null.
    	sed -i "s/MY_CELL/$MY_CELL/" $MY_SLURM_SCRIPT
	fi
	if [ -n "$MY_LANE" ];then #string is not null.
    	sed -i "s/MY_LANE/$MY_LANE/" $MY_SLURM_SCRIPT
	fi
	if [ -n "$MY_CHUNK" ];then #string is not null.
    	sed -i "s/MY_CHUNK/$MY_CHUNK/" $MY_SLURM_SCRIPT
	fi

	# defined in 'config/slurm.config'
    sed -i "s/MY_SLURM_ACNT/$SLURM_ACNT/" $MY_SLURM_SCRIPT
    sed -i "s/MY_SLURM_NODE_CNT/$SLURM_NODE_CNT/" $MY_SLURM_SCRIPT
    sed -i "s/MY_SLURM_NT/$SLURM_NODE_NT/" $MY_SLURM_SCRIPT
    sed -i "s/MY_SLURM_TIME/$SLURM_TIME/" $MY_SLURM_SCRIPT
    sed -i "s/MY_SLURM_MAIL_TYPE/$SLURM_MAIL_TYPE/" $MY_SLURM_SCRIPT
}
