#!/bin/bash
# Author: Sung Gong <ssg29@cam.ac.uk>
# First created: 30/Jan/2015
# Last modified: 12/Feb/2015
# Environment variables to run BWA and GATK 

if [[ `hostname` =~ "login-sand" ]]; then
	G_PREFIX=/scratch/genome
	#GATK_HOME will be exported by module.sh
else
	G_PREFIX=/whale-data
	export GATK_HOME=$G_PREFIX/biosoft/src/GenomeAnalysisTK-3.2-2
fi

#####################################################
# GLOBAL
# Variables remain same across multiple bash script
#####################################################
export TOP=$HOME/Pipelines
source $TOP/config/global.config

###
## SLRUM
###
export SL='SL3' # SL2 (paid ad-hoc), SL3 (free)
source $TOP/config/slurm.config

###
### Run-specific 
###
export SLX='SLX-7634' # Cynthia Haloplex 1 (16 barcodes)
#export SLX='SLX-9338' # Cynthia Haloplex 2 (48 barcodes)
export IS_PE=1 # paired-end?
export FASTQ_DIR=$HOME/data/fastq/$SLX
if [ ! -d $FASTQ_DIR ];then
	echo "$FASTQ_DIR not found"
	exit
fi

###
### which species
###
export SPECIES='Homo_sapiens' # 'Homo_sapiens' or 'Mus_musculus' 
export VERSION=$SPECIES."v1" 

###
### Target Region
###
# perl -pi -e 's/^chr//g' /home/ssg29/Pipelines/data/Haloplex/cynthia.halo.target.region.bed
export TARGET=$TOP/data/Haloplex/cynthia.halo.target.region.bed
export NPOOL=$TOP/data/Haloplex/cynthia.halo.normal.pool.txt
if [ $SLX == 'SLX-9338' ]; then
	export CONTROL=(HAL40 HAL41 HAL42 HAL43) # for SLX-9338 
else
	export CONTROL=(HALO15) # for SLX-7634 
fi

####################
# CONTROL WORKFLOW #
####################
##############
## Mapping  ##
##############
# Below called by template/per.lane.trim.bwa.sh
export RUN_FASTQC=1 # run fastqc
export RUN_TRIM=1 # run trim_galore
export RUN_BWA=1 # 

#############
## Calling ##
#############
# Below called by template/per.barcode.gatk.sh
export RUN_GATK_INTERVAL=0
export RUN_GATK_REALIGN=0 # Indel realign
export RUN_GATK_BASE_RECAL=0 # Base recal
export RUN_GATK_PRNT_READ=0 # print above
export RUN_GATK_UG=0 # UnfiedGenoptyper
export RUN_GATK_HC=0 # HaplotypeCaller
export RUN_GATK_SOMATIC_SNP=1 
export RUN_GATK_SOMATIC_Indel=1 

##############
## Coverage ##
##############
export RUN_COVBED=1
export RUN_GATK_CALLABLE=1
export RUN_GATK_DOV=1
export RUN_PICARD_SUMMARY=1

############
## MUTECT ##
############
# Below called by template/per.barcode.mutect.sh
export RUN_MUTECT_PAIR=1
export RUN_MUTECT_PON=1
export RUN_MUTECT_MERGE=1

####################
# TRIM & FILTERING #
####################
# Haloplex Illumina Adapters
# http://seqanswers.com/forums/showthread.php?t=32185
# http://www.chem.agilent.com/Library/usermanuals/Public/G9900-90001.pdf
# http://www.chem.agilent.com/library/usermanuals/Public/G9900-90020.pdf
# http://www.chem.agilent.com/library/usermanuals/public/g9900-90020_haloplexautomation_manual.pdf
# http://www.agilent.com/cs/library/usermanuals/public/G9900-90020_HaloPlexAutomation_Manual.pdf
# http://www.softgenetics.com/PDF/Mutation-Detection-CNV-Analysis-for-Illumina-Seqdata-from-HaloPlex-Panels-using-NextGENe-Software5991-1203EN.pdf
export TR_ADAPTOR1=AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC 
export TR_ADAPTOR2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT
export TR_STRNCY=1 # --stringency (default)
export TR_LEN=45 # --length (default 20)
export TR_CLIP_LEN=5 # --clip_R1 (default off)

export MAPQ=1 # mapping quality to filter (via samtools view -q) or RUN_FLT_BY_MAPQ TRUE

#############
# REFERENCE #
#############
if [ -n "$SPECIES" ]; then # if $SPECIES not null
	if [ $SPECIES == 'Homo_sapiens' ]; then
		export ASM_VER=GRCh37 # GRCH37.gff from $G_PREFIX/genome/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf ($GTF)
	elif [ $SPECIES == 'Mus_musculus' ]; then 
		export ASM_VER=GRCm38
	else
		echo -e "$SPECIES not supported"
		exit
	fi
else
	echo -e "SPECIES not defined"
	exit
fi

export BWA_INDEX_BASE=$G_PREFIX/$SPECIES/Ensembl/$ASM_VER/Sequence/BWAIndex/genome
export GENOME=$G_PREFIX/$SPECIES/Ensembl/$ASM_VER/Sequence/WholeGenomeFasta/genome.fa
export GTF=$G_PREFIX/$SPECIES/Ensembl/$ASM_VER/Annotation/Genes/genes.gtf #from iGenome for cufflinks

########
# GATK #
########
export GATK_MEM=60g
export GATK_BDL=$G_PREFIX/Homo_sapiens/Ensembl/GRCh37/GATK.res.bundle.2.8
export GATK_MILLS=$GATK_BDL/Mills_and_1000G_gold_standard.indels.b37.vcf
export GATK_10KIndel=$GATK_BDL/1000G_phase1.indels.b37.vcf
export GATK_MIN_INDEL_CNT=4 # -minIndelCnt
export GATK_MIN_BASE_QUAL=20 # --min_base_quality_score
export GATK_MIN_MAPPING_QUAL=10 # --minMappingQuality
export GATK_DCOVG=1000 # --downsample_to_coverage (default: 1000)
export GATK_CALL_CONF=30.0 # -stand_call_conf (default: 30)
export GATK_EMIT_CONF=10.0 # -stand_emit_conf (default: 30)
export GATK_QD=3.0 # --  --filterExpression "QD < 3.0"
export GATK_MQ=10.0 # --  --filterExpression "MQ < 10.0"

########
#dbSNP #
########
#export DBSNP=$HOME/data/dbSNP/common_all.vcf.gz # based on dbSNP141
export DBSNP=$HOME/data/dbSNP/$SPECIES/Ensembl/GRCh37/all.vcf.gz # based on dbSNP142
export COSMIC=$HOME/data/COSMIC/Cosmic.sorted.vcf.gz

############
## PICARD ##
############
# also in config/methyl_seq.config
export PICARD_HOME=$HOME/Install/picard # to be used by bin/bissnp.sh
export RG_CN=CamObsGynae
export RG_ORDER=coordinate
export RG_STRINGENCY=SILENT
export RG_MEM=60g

## CallableLoci_rearrage_Coverage.pl
export REARRANGE_COV=$TOP/bin/CallableLoci_rearrage_Coverage.pl

############
## MUTECT ##
############
#export MUTECT=$HOME/Install/muTect/muTect-1.1.4.jar # 
export MUTECT=$HOME/Install/muTect-src/mutect/target/mutect-1.1.7.jar # local compiled version 
