#!/bin/bash
# Author: Sung Gong <ssg29@cam.ac.uk>
# First created: 30/Jan/2015
# Last modified: 19/Mar/2018
# Environment variables to run BWA and GATK 

#####################################################
# GLOBAL
# Variables remain same across multiple bash script
#####################################################
export TOP=$HOME/Pipelines
source $TOP/config/global.config

############
## SLRUM ###
############
export SL='SL2' # SL2 (paid ad-hoc), SL3 (free), SL3-SHORT, SL2-LONG
source $TOP/config/slurm.config # defines 'make_slurm_script'

if [[ $SLURM_SKYLAKE == "skylake-himem" ]]; then
    export SAMTOOLS_MEM=11G # per-thread
    export GATK_MEM=380g # per-node
    export RG_MEM=380g # per-node
    export SORT_MEM=380G # per-node
else
    export SAMTOOLS_MEM=5G # per-thread
    export GATK_MEM=190g # per-node
    export RG_MEM=190g # per-node
    export SORT_MEM=190G # per-node
fi

##################
## WHICH COHORT ## 
##################
export COHORT='ILM-PLS' # SML1-PLS, CTLF, CTLM, POPS, CTL, SGA, PET
					# PLS: plasma samples
					# to be used by 'per.run.xx'
#####################
### WHICH SPECIES ###
#####################
export SPECIES='Homo_sapiens' # 'Homo_sapiens' or 'Mus_musculus' or 'PhiX'
export VERSION=$SPECIES."v1"

#############
## SAMPLES ##
#############
#export SLX='SLX-7634' # Cynthia Haloplex 1 (16 barcodes)
#export SLX='SLX-9338' # Cynthia Haloplex 2 (48 barcodes)
export SLX='SLX-Xten2017' # Susanne samples 

if [ $SLX == 'SLX-9338' ]; then
	export CONTROL=(HAL40 HAL41 HAL42 HAL43) # for SLX-9338 
fi

#export ALL_BARCODES=($(for i in `ls $HOME/data/fastq/$SLX/$SLX*.fq.gz | grep -v lost`; do echo $i | cut -d'/' -f7 | cut -d'.' -f2 ; done | uniq))
#export ALL_BARCODES=($(for i in `ls $HOME/data/fastq/$SLX/$SLX.23862*.fq.gz | grep -v lost`; do echo $i | cut -d'/' -f7 | cut -d'.' -f2 ; done | uniq))
#export ALL_BARCODES=(23409_2 23409_3 23409_4 23409_5 23409_6 23409_7 23409_8)

####################
### RUN-SPECIFIC ###
####################
export IS_PE=1 # paired-end?

####################
### Target Region ##
####################
# perl -pi -e 's/^chr//g' /home/ssg29/Pipelines/data/Haloplex/cynthia.halo.target.region.bed
#export TARGET=$TOP/data/Haloplex/cynthia.halo.target.region.bed
#export NPOOL=$TOP/data/Haloplex/cynthia.halo.normal.pool.txt

##############
## Mapping  ##
##############
# Below called by template/per.lane.trim.bwa.sh
export RUN_FASTQC=0 # run fastqc
export RUN_TRIM_HALO=0 # run cutadapt 
export RUN_TRIM=1 # run cutadapt 
export RUN_BWA=1 # 

#####################
## Variant Calling ##
#####################
# Below called by template/per.barcode.gatk.sh
export RUN_SORT_BAM=0 # coord-sorted BAM is need by HaplotypeCaller (but not HaplotypeCallerSpark)
export RUN_GATK_INTERVAL=0 # Not necessary for HaplotypeCaller
export RUN_GATK_REALIGN=0 # Not necessary for HaplotypeCaller 
export RUN_GATK_BASE_RECAL=0 # BaseRecalibrator and PrintReads
export RUN_GATK_UG=0 # UnifiedGenoptyper
export RUN_GATK_HC_SPARK=0 # HaplotypeCallerSpark # failed 29/Mar/2018
export RUN_GATK_HC=1 # HaplotypeCaller
export RUN_GATK_SOMATIC_SNP=0 
export RUN_GATK_SOMATIC_Indel=0

##############
## Coverage ##
##############
export RUN_COVBED=1
export RUN_GATK_CALLABLE=1
export RUN_GATK_DOV=1
export RUN_PICARD_SUMMARY=1

############
## MUTECT ##
############
# Below called by template/per.barcode.mutect.sh
export RUN_MUTECT_PAIR=1
export RUN_MUTECT_PON=1
export RUN_MUTECT_MERGE=1

####################
# TRIM & FILTERING #
####################
# Haloplex Illumina Adapters
# http://seqanswers.com/forums/showthread.php?t=32185
# http://www.chem.agilent.com/Library/usermanuals/Public/G9900-90001.pdf
# http://www.chem.agilent.com/library/usermanuals/Public/G9900-90020.pdf
# http://www.chem.agilent.com/library/usermanuals/public/g9900-90020_haloplexautomation_manual.pdf
# http://www.agilent.com/cs/library/usermanuals/public/G9900-90020_HaloPlexAutomation_Manual.pdf
# http://www.softgenetics.com/PDF/Mutation-Detection-CNV-Analysis-for-Illumina-Seqdata-from-HaloPlex-Panels-using-NextGENe-Software5991-1203EN.pdf
if [ $RUN_TRIM_HALO -eq 1 ];then
    export TR_ADAPTOR1=AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC 
    export TR_ADAPTOR2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT
    export TR_STRNCY=1 # --stringency (default)
    export TR_LEN=45 # --length (default 20)
    export TR_CLIP_LEN=5 # --clip_R1 (default off)
fi
if [ $RUN_TRIM -eq 1 ];then
	export TR_ADAPTOR1='AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC' # same as above but with a leading 'A' 
	export TR_ADAPTOR2='AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'

    export TR_ADAPTOR2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT
	export TR_QUAL=20				 # v1: 20, v2:NA(No trim), v3:NA, v4:40
    export TR_STRNCY=8 # --stringency (default)
    export TR_LEN=20 # --length (default 20)
fi

export MAPQ=1 # mapping quality to filter (via samtools view -q) or RUN_FLT_BY_MAPQ TRUE

####################
## Species Prefix ##
####################
if [ -n "$SPECIES" ]; then # if $SPECIES not null
	if [ $SPECIES = 'Homo_sapiens' ]; then
		export TR_PREFIX=GRCh38 # GRCh37|GRCh38
		export MIRBASE_SPECIES=hsa
		export MIRDEEP_SPECIES=Human
		export ENS_VER=82 # 82 (for manual downlaod)
	elif [ $SPECIES = 'Mus_musculus' ]; then 
		export TR_PREFIX=GRCm38
		export MIRBASE_SPECIES=mmu
		export MIRDEEP_SPECIES=Mouse
	elif [ $SPECIES = 'PhiX' ]; then 
		export TR_PREFIX=RTA
		export MIRBASE_SPECIES=mmu
		export MIRDEEP_SPECIES=Mouse
		export ENS_VER=illumina
	else
		echo -e "$SPECIES not supported"
		exit
	fi
else
	echo -e "SPECIES not defined"
	exit
fi

##################
## GENOME INDEX ##
##################
export GENOME=$HOME/data/genome/$SPECIES/Ensembl/$TR_PREFIX/Sequence/WholeGenomeFasta/genome.fa
export GTF=$HOME/data/genome/$SPECIES/Ensembl/$TR_PREFIX/Annotation/Genes/$SPECIES.$TR_PREFIX.$ENS_VER.gtf
export BWA_INDEX_BASE=$HOME/data/genome/$SPECIES/Ensembl/$TR_PREFIX/Sequence/BWAIndex/genome # initial mapping


########
# GATK #
########
export GATK_BDL=$HOME/data/GATK/$SPECIES/Ensembl/$TR_PREFIX
export GATK_MILLS=$GATK_BDL/Mills_and_1000G_gold_standard.indels.vcf.gz
export GATK_HAPMAP=$GATK_BDL/hapmap_3.3.hg38.vcf.gz
export GATK_1K=$GATK_BDL/1000G_phase1.snps.high_confidence.hg38.vcf.gz
export GATK_OMNI=$GATK_BDL/1000G_omni2.5.hg38.vcf.gz
#export GATK_10KIndel=$GATK_BDL/1000G_phase1.indels.b37.vcf
#export GATK_MIN_INDEL_CNT=4 # -minIndelCnt
#export GATK_MIN_BASE_QUAL=20 # --min_base_quality_score
#export GATK_MIN_MAPPING_QUAL=10 # --minMappingQuality
#export GATK_DCOVG=1000 # --downsample_to_coverage (default: 1000)
export GATK_CALL_CONF=30.0 # -stand_call_conf (default: 30)
export GATK_EMIT_CONF=10.0 # -stand_emit_conf (default: 30)
export GATK_FS=30.0 # --  --filterExpression "FS > 30"
export GATK_QD=3.0 # --  --filterExpression "QD < 3.0"
export GATK_MQ=10.0 # --  --filterExpression "MQ < 10.0"

########
#dbSNP #
########
export DBSNP=$HOME/data/dbSNP/$SPECIES/Ensembl/$TR_PREFIX/all.vcf.gz 
export COSMIC=$HOME/data/COSMIC/Cosmic.sorted.vcf.gz

############
## PICARD ##
############
# also in config/methyl_seq.config
export PICARD_HOME=$HOME/Install/picard # to be used by bin/bissnp.sh
export RG_CN=CamObsGynae
export RG_ORDER=coordinate
export RG_STRINGENCY=SILENT

## CallableLoci_rearrage_Coverage.pl
export REARRANGE_COV=$TOP/bin/CallableLoci_rearrage_Coverage.pl

############
## MUTECT ##
############
#export MUTECT=$HOME/Install/muTect/muTect-1.1.4.jar # 
export MUTECT=$HOME/Install/muTect-src/mutect/target/mutect-1.1.7.jar # local compiled version 
